body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container{
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  &.hover-link {
    text-decoration: underline;
    text-underline-offset: 3px;
    &:hover{
      opacity: 0.5;
    }
  }
}


.hoverable {
  & > * .hoverable {
    transition: opacity 300ms ease-out;
    opacity: 0;
  }

  &:hover > * .hoverable {
    opacity: 1;
  }
}